

@media(max-width: 500px){
    body {
        grid-template-columns: 1fr ;
        gap: 20px;
        margin-inline-end: 50px;
        margin-inline-start: 20px;

        
    }
    

}

/* 
@media(min-width: 550px){
    body {
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
    }
    

}
 */

